/* gallery.css */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .gallery-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .gallery-details h3 {
    margin-top: 0;
  }
  
  .gallery-details p {
    margin: 5px 0;
  }
  
  
  
  footer {
    background-color: #b0d6f0;
    color: #fff;
    padding: 20px;
    text-align:center;
  }