/*home.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  header {
    background-color: blue; 
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  
  
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    min-height: calc(100vh - 100px); 
  }
  
  .dashboard-content {
    flex: 2;
    min-width: 300px;
  }
  
  section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #004080;
  }
  
  .sidebar {
    flex: 1;
    min-width: 200px;
    padding: 20px;
  }
  
  .sidebar div {
    margin-bottom: 20px;
  }
  
  .button {
    display: block;
    text-align: center;
    background-color: #004080;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #003366;
  }
  
  footer {
    background-color: #b0d6f0;
    color: #fff;
    padding: 20px;
    text-align:center;
  }