


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
}

header {
    background-color: rgb(130, 168, 219);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    flex-shrink: 0; 
}

.signup-registration-container {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
}

.signup-image-container {
    flex: 2;
    background-image: url('../workimage.jpg');
    background-size: cover;
    background-position: center;
}

.signup-form-container {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.signup-form {
    width: 100%; 
    padding: 20px;
    box-sizing: border-box; 
}

.signup-form h1 {
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
}

.signup-form input,
.signup-form textarea,
.signup-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #0056b3;
}

.signup-success-message {
    color: green;
}

.signup-error-message {
    color: red;
}

.signup-agreement,
.signup-login {
    margin-top: 10px;
    font-size: 14px;
    color: #495057;
    text-align: center; 
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex: 1; 
}
